---
title: Przecięcia zera

language_tabs: # must be one of https://git.io/vQNgJ
  - c
  - python
  - shell
  - text

toc_footers:
  - <a href='https://github.com/xHeler'> - Github</a>
  - <a href='https://gitlab.com/bartosz.kwiatkowski'> - Gitlab</a>

search: true

code_clipboard: true
---

# Opis

Dokumentacja programu z lab 2 - Przecięcia zera.

# Kod

Program został napisany zgodnie ze standardem c99, kompilator GNU GCC.

```shell
gcc -std=c99 -Wall -pedantic -o out/main.out main.c
```

## Biblioteki, stałe

> Biblioteki

```c
#include <stdio.h>
#include <stdlib.h>
```
> Stałe

```c
#define MIN -10
#define MAX 10
#define FMIN 8
#define FMAX 12
#define SIZE_OF_PACKAGE 4
#define END 99
```


Została biblioteka zaimplementowana biblioteka standardowa.
Co do wartości stałych są to wartości zakresów poprawnych oraz
wartość wielkości pakietu.

Nazwa | Wartość| Opis
--------- | ------- | -----------
MIN | -10 | Wartość minimalna zakresu poprawnych danych
MAX | 10 | Wartość maksymalna zakresu poprawnych danych
FMIN | 8 | Wartość minimalna zakresu poprawnej częstotliowości
FMAX | 12 | Wartość maksymalna zakresu poprawnej częstotliowości
SIZE_OF_PACKAGE | 99 | Wielkość pakietu danych
END | 99 | Wartość kończąca działanie programu

<aside class="warning">Jako SIZE_OF_PACKAGE zaleca się użycia liczby większej równej 1.</aside>
<aside class="warning">Jako END zaleca się użycia liczby z poza zakresu MIN | MAX.</aside>


## Zmienne globalne, struktury

> Struktura enum

```c
typedef enum{
    False = 0,
    True  = 1,
    None  = 2, 
} sign;
```

> Zmienne globalne

```c
int number;
int numberAmount = 0;
int intersectionAmount = 0;
sign previousSign = None;
sign actuallySign = None;
```

Użyłem strukturę enum, która jest typem wyliczeniowym
i dla kolejnych argumentów przyjmuje rosnące wartości.
Wartości globalne to aktualnie odczytany numer, ilość 
wartości w pakiecie oraz liczba przecięć. Przechowywany
w strukturze enum jest znak.

### Struktura

Nazwa | Wartość | Opis
--------- | ------- | -----------
False | 0 | Wartość ta jest przyjmowana dla liczby ujemnej
True | 1 | Wartość ta jest przyjmowana dla liczby dodatniej
None | 2 | Wartość przejściowa

### Zmienne globalne

Nazwa | Wartość | Opis
--------- | ------- | -----------
number | null | Przechowywany aktualna wartość
numberAmount | 0 | Ilość liczb liczących w pakiecie
intersectionAmount | 0 | Ilość przecięc zera
previousSign | None | Znak poprzedniej liczby
actuallySign | None | Znak aktualnie badanej liczby

## Sprawdzanie odczytanej wartości

```c
if (scanf("%d", &number) == 1)
```

Warunkiem wykonania jest wczytanie przez scanf wartości typu int,
czyli puste linie są nie brane pod uwagę.

## Iteracja po pakiecie danych

```c
numberAmount++;
```

Liczba danych aktualnie liczonego pakietu zostaje iterowana.

## Sprawdzenie wartości kończącej program

```c
if (number == END){
  break;
}
```

Program zostaje zakończony po odczytaniu wartości END deklarowanej wcześniej.

## Sprawdzenie zakresu odczytanej wartości

```c
if (number >= MIN && number <= MAX)
```

Program sprawdza czy odczytana liczba mieści się w ramie wcześniej
sprecyzowanego zakresu.

## Znak aktualnej, poprzedniej liczby

### Przypadek zera lub zer
>Pętla w pętli

```c
if (numberAmount > 1)
  if (number == 0)  
    actuallySign = previousSign;
```

Tutaj przekazywana jest informacja o poprzednim znaku w przypadku
gdy pojawia się zero. Zero działa jak kurer przekazujący znak znajdujący
się przed sekcją zera lub zer.

### Przypisanie znaku

```c
if (number > 0)      actuallySign = True;
else if (number < 0) actuallySign = False;
```

W przypadku gdy liczba jest większa od zera znak zmieniamy na True,
w przeciwnym razie na False.

## Przecięcie zera

```c
if (((actuallySign ^ previousSign) == 1) &&
  previousSign != None && actuallySign != None)
    intersectionAmount++;
```
Przecięcie zera występuje jeżeli poprzednia wartość i aktualna są różne od None
oraz gdy alternatywa rozłączna znaków jest równa 1.

### Alternatywa rozłączna XOR

P | Q |  | P^Q 
--------- | ------- | ----------- |  -----------
0 | 0 |  | 0
0 | 1 |  | 1
1 | 0 |  | 1
1 | 1 |  | 0


## Get All Kittens

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.get()
```

```shell
curl "http://example.com/api/kittens" \
  -H "Authorization: meowmeowmeow"
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let kittens = api.kittens.get();
```

> The above command returns JSON structured like this:

```json
[
  {
    "id": 1,
    "name": "Fluffums",
    "breed": "calico",
    "fluffiness": 6,
    "cuteness": 7
  },
  {
    "id": 2,
    "name": "Max",
    "breed": "unknown",
    "fluffiness": 5,
    "cuteness": 10
  }
]
```

This endpoint retrieves all kittens.

### HTTP Request

`GET http://example.com/api/kittens`

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
include_cats | false | If set to true, the result will also include cats.
available | true | If set to false, the result will include kittens that have already been adopted.

<aside class="success">
Remember — a happy kitten is an authenticated kitten!
</aside>

## Get a Specific Kitten

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get(2)
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.get(2)
```

```shell
curl "http://example.com/api/kittens/2" \
  -H "Authorization: meowmeowmeow"
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let max = api.kittens.get(2);
```

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "name": "Max",
  "breed": "unknown",
  "fluffiness": 5,
  "cuteness": 10
}
```

This endpoint retrieves a specific kitten.

<aside class="warning">Inside HTML code blocks like this one, you can't use Markdown, so use <code>&lt;code&gt;</code> blocks to denote code.</aside>

### HTTP Request

`GET http://example.com/kittens/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the kitten to retrieve

## Delete a Specific Kitten

```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.delete(2)
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.delete(2)
```

```shell
curl "http://example.com/api/kittens/2" \
  -X DELETE \
  -H "Authorization: meowmeowmeow"
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let max = api.kittens.delete(2);
```

> The above command returns JSON structured like this:

```json
{
  "id": 2,
  "deleted" : ":("
}
```

This endpoint deletes a specific kitten.

### HTTP Request

`DELETE http://example.com/kittens/<ID>`

### URL Parameters

Parameter | Description
--------- | -----------
ID | The ID of the kitten to delete

